
# /
/target
/pom.xml.tag
/pom.xml.releaseBackup
/pom.xml.versionsBackup
/pom.xml.next
/release.properties
/logs
/*.log
/pids
/*.pid
/*.seed
/lib-cov
/coverage
/.grunt
/build
/node_modules
/.lock-wscript
/.sass-cache
/dist
/bower_components
/graddle-app.setting
/.gradle
/*.ear
/*.jar
/*.war
/*.class
/hs_err_pid*
