<div class="navbar navbar-default navbar-static-top navbar-inverse" role="navigation">
    <div class="container">
        <div class="navbar-header">
            <div class="navbar-brand "><strong>Define Match</strong></div>
        </div>
        <div class="navbar-collapse ">
            <ul class="nav navbar-nav">
                <li class="active"><a ng-bind="viewName"></a></li>
            </ul>
            <ul ng-show="user.isLoged" class="nav navbar-nav navbar-right">
                <li><p class="navbar-text"><span ng-bind="user.name"></span></strong></p></li>
                <li>
                    <a ng-click="logout()" ng-href="#" class="navbar-nav">
                        <strong><span class="glyphicon bigger glyphicon-off"></span></strong>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</div>