<nav class="navbar navbar-default navbar-fixed-bottom hidden-xs">
    <div class="container">
        <div class="navbar-header">

        </div>
        <div class="collapse navbar-collapse">
            <ul class="nav navbar-nav navbar-left">
                <li>
                    <a ng-click="Console.toggle()" class="pull-right" ng-href="">
                        <span ng-bind="Console.actionText()"></span></a>
                </li>
            </ul>
            <p class="navbar-text navbar-right">para Dolina <i class="glyphicon glyphicon-heart"></i></p>
        </div>

    </div>
</nav>