<p>This is the vote view.</p>
<h4>Vote</h4>
<!--button ng-click="toggleReady()" ng-class="{on:ready.state}">{{ready.label}}</button-->
<table>
    <thead><td/><td>Definiciones</td><td></td></thead>
    <!-- Definiciones candidatas -->
    <tr ng-repeat='item in definitions'>
        <td>{{nextLetter($index)}}</td>
        <td ng-class="{on:votesEmitted[user.id]==item.defId}">
            {{item.definition}}
        </td>
        <td>
            <input ng-hide="!canVote || votesEmitted[user.id]==item.defId"
                   type="button" ng-click="sendVote(item.defId)"
                   value="Seleccionar"/>
        </td>
    </tr>
    <!-- Definición del usuario -->
    <tr>
        <td>{{nextLetter(definitions.length)}}</td>
        <td>{{playerDefinition.definition}}</td>
        <td/>
    </tr>
    <!-- Deselección -->
    <tr>
        <td/>
        <td/>
        <td>
            <input ng-hide="!canVote || !votesEmitted[user.id]"
                   type="button" ng-click="sendVote(null)"
                   value="No votar"/>
        </td>
    </tr>
</table>

<hr/>
<h4>Parrilla</h4>
<table>
    <thead><td>Jugador</td><td>Votacion</td><td>Puntos</td><td>Última ronda</td></thead>
    <tr ng-repeat='(key,player) in players' ng-class="{on:isReady[key]}">
        <td>{{player.name}}</td>
        <td>
            {{votesEmitted[key]?letterSelected(key):''}}
            <span ng-show="hasVoteForMe(votesEmitted[key])"
                  class="glyphicon glyphicon-ok"></span>
        <td>{{player.totalPoints}}</td>
        <td>{{player.lastPhasePoints}}</td>
    </tr>
</table>

<hr/>
<h4>Timeout</h4>
<span>{{counter}}</span> Seg.