<div class="row">
    <div class="col-sm-12">
        <div class="panel-heading">
            <h2>
                <span class="">[<span ng-bind="term.category.name"></span>]</span>
                <strong><span ng-bind="term.name"></span></strong><span ng-show="termDefinition">:
                    <span ng-bind="termDefinition"></span>
                    <span class="small" ng-show="numCorrectVotes == 1">(<span ng-bind="numCorrectVotes"></span> vez elegido)</span>
                    <span class="small" ng-show="numCorrectVotes > 1">(<span ng-bind="numCorrectVotes"></span> veces elegido)</span>
                </span>
            </h2>
        </div>
    </div>
</div>
