<div ng-include="'views/matchHeader.html'"/>
<div class="row">
    <div class="col-sm-6">
        <div class="panel panel-primary">
            <form role="form" name="defineForm" class="" ng-submit="sendDefinition()">
                <!--div class="panel-heading"><h4 class="panel-title">Tu definición</h4></div-->
                <div class="panel-body">
                    <div class="form-group">
                        <div class="input-group">
                            <label for="playerDefinition" class="sr-only">Escribe aquí la definición</label>
                            <input id="playerDefinition" class="form-control"
                                   placeholder="Da una definición para {{term.name}}"
                                   ngbk-focus ng-model="definition"
                                   required/>

                            <div class="input-group-btn">
                                <button type="submit" class="btn btn-primary btn-block"
                                        ng-disabled="defineForm.$invalid">&nbsp;
                                    <span class="glyphicon glyphicon glyphicon-play "/>&nbsp;</button>
                            </div>
                        </div>
                    </div>
                    <div ng-show="lastDefinition">
                        <span class="label label-primary">Última definición dada</span>

                        <div class="well well-sm">
                            <span ng-bind="lastDefinition"/>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <div class="rooster col-sm-6">
        <div ng-include="'views/rooster.html'"/>
    </div>
</div>

