<form name="userLogin" ng-submit="doLogin()" role="form">
    <div class="form-horizontal">
        <div class="form-group">
            <label for="name" class="control-label">Nombre</label>
            <input id="name" class="form-control"
                   ng-model="user.name"
                   ngbk-focus="true"
                   required>
            <button type="submit" class="btn" ng-disabled="!userLogin.$valid">Login</button>
        </div>
    </div>
</form>
<div ng-show="message" ng-bind="message"></div>
