<div class="row">
    <div class="col-sm-6">
        <h2 >
            <abbr title="{{term.category.name}}"><span class=" label label-info" ng-bind="term.category.label"></span></abbr>
            <span class="text-info" ng-bind="term.name"/>
        </h2>
    </div>
</div>
    <p></p>
<div class="row">
    <div class="col-sm-12">
        <div class="progress" >
            <div class="progress-bar progress-bar-striped active {{timer.status}}"
                 role="progressbar" aria-valuenow="{{timer.percent}}"
                 aria-valuemin="0" aria-valuemax="100" style="width:{{timer.percent}}%;">
                <span style="min-width: 35px;"><span ng-bind="timer.secLeft"/>Seg.</span>
            </div>
        </div>
    </div>
</div>
