<div class="panel panel-primary">
    <div class="panel-heading"><h3 class="panel-title"><strong>Jugadores</strong></h3></div>
    <table class="table table-bordered table-striped text-info">
        <thead class="text-info"><tr class="info">
        <td>#</td>
        <td><strong>Nombre</strong></td>
        <td><strong>Listo</strong></td>
        <td><strong>Total</strong></td>
        <td><strong>Ronda</strong></td>
        </tr>
        </thead>
        <tr ng-repeat='player in players'>
            <td ng-bind="$index+1"></td>
            <td ng-bind="player.name"></td>
            <td ng-class="{success : player.definition}"><span ng-bind="playerReady(player)"></span></td>
            <td ng-bind="player.totalScore"></td>
            <td ng-bind="player.turnScore>0?'+'+player.turnScore:'-'"></td>
        </tr>
    </table>
</div>
