<div class="row">
    <div class=" col-md-4 col-sm-6 ">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <h3 class="panel-title"><strong>Jugadores</strong>
                    <span class=" pull-right glyphicon glyphicon-list"></span>
                </h3>
            </div>
            <table class="table  table-striped">
                <tr ng-repeat='player in players' ng-class="{on:player.definition}">
                    <td width="7%"><span ng-bind="players.indexOf(player)+1"></span></td>
                    <td><span ng-bind="player.name"></span></td>
                </tr>
            </table>
            <div class="panel-footer">
                <span ng-bind="players.length"></span> total conectados
            </div>
        </div>
    </div>
    <div ng-show="hasConfig" class="col-md-8 col-sm-10 " >
        <div ng-include="'fragment/config.html'"></div>
    </div>
</div>

