<div ng-include="'views/matchHeader.html'"></div>
<div class="row">
    <div class="poll col-sm-6">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <h3 class="panel-title"><strong>Definiciones</strong></h3>
            </div>
            <table class="table table-condensed table-hover text-info">
                <!-- Definiciones candidatas -->
                <tr ng-repeat='item in definitions'
                    ng-class="{info:isMyVote(item.defId)}"
                    ng-click="isShowVote(item.defId) && vote(item.defId)">
                    <td width="10%">
                        <button class="btn btn-sm bg-primary" ng-disabled="!isShowVote(item.defId)"
                                ng-click="vote(item.defId)"><span ng-bind="letter(item.defId)"></span>
                        </button>
                    </td>
                    <td class="vert-align"><span ng-bind="item.text"></span></td>
                </tr>
                <!-- Deselección -->
                <tr>
                    <td colspan="2" ng-click="(canVote && me.vote) && unvote()">
                        <button class="btn pull-right btn-sm bg-primary" ng-disabled="!canVote || !me.vote ">No
                            votar
                        </button>
                    </td>
                </tr>
            </table>
        </div>
    </div>
    <div class="rooster col-sm-6">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <h3 class="panel-title"><strong>Jugadores</strong></h3>
            </div>
            <table class="table table-bordered table-striped text-info">
                <thead class="text-info">
                <tr class="info">
                    <td width="6%">#</td>
                    <td><strong>Nombre</strong></td>
                    <td width="10%"><strong>Voto</strong></td>
                    <td width="10%"><strong>Turno</strong></td>
                    <td width="10%"><strong>Total</strong></td>
                </tr>
                </thead>
                <tr ng-repeat='player in players'
                    ng-class="{warning : playerReady(player) && player.pid != me.pid, success: player.pid == me.pid }">
                    <td ng-bind="$index+1" align="right"></td>
                    <td ng-bind="player.name"></td>
                    <td>
                        <span ng-bind="playerReady(player)"></span>
                        <span ng-show="hasVoteForMe(vote)" class="glyphicon glyphicon-ok"></span>
                    </td>
                    <td ng-bind="player.turnScore>0?'+'+player.turnScore:'-'" class="text-right"></td>
                    <td ng-bind="player.totalScore" class="text-right"></td>
                </tr>
            </table>
        </div>
    </div>
</div>
