<div ng-include="'views/matchHeader.html'"/>
<div class="poll">
<table border="1" width="80%" cellspacing="15" >
    <thead><td/><td>Definiciones</td></thead>
    <!-- Definiciones candidatas -->
    <tr ng-repeat='item in definitions' ng-class="{on:isMyVote(item.defId)}" ng-click="isShowVote(item.defId) && vote(item.defId)">
        <td height="28px" width="28px" align="center" >
            <button ng-show="isShowVote(item.defId)" ng-click="vote(item.defId)">{{letter(item.defId)}}</button>
            <span ng-show="!isShowVote(item.defId)">{{letter(item.defId)}}</span>
        </td>
        <td>{{item.text}}</td>
    </tr>
    <!-- Deselección -->
    <tr>
        <td height="28px" width="28px" align="center"></td>
        <td><button ng-hide="!canVote || !me.vote " ng-click="unvote()">No votar</button></td>
    </tr>
</table>
</div>
<div ng-include="'views/rooster.html'"/>
